*\.vs
*.obj
*.wixobj
*.o
*.pdb
*.idb
*.iobj
*.ipdb
*.log
*.lastbuildstate
*.tlog
*.exp
*.suo
*.VC.db
*.cab
*.msi
*.wixpdb
*.exe
*.ilk
*.vcxproj.user
*.wixproj.user
Builds/*
*/working/*
*/obj/*

*/x64/Release/*
*/x64/Debug/*

