<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?Define InfoURL="http://massless.io" ?>
  <Product Id="*" Name="Massless OpenVR Driver" Language="1033" Version="0.7.9" Manufacturer="Massless" UpgradeCode="A4BC9414-E1A7-4987-B473-A4A71DE7B0AD">
    <Package Id="*" InstallerVersion="200" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" Platform="x64"/>
    <Icon Id="MasslessIcon.ico" SourceFile="Resources/Massless.ico" />
    <Property Id="ARPPRODUCTICON" Value="MasslessPenIcon.ico" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <Property Id="USAGE_STATS_AGREED" Secure="yes"/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="SteamFolder" Name="Steam">
          <Directory Id="SteamAppsFolder" Name="steamapps">
            <Directory Id="CommonFolder" Name="common">
              <Directory Id="SteamVRFolder" Name="SteamVR">
                <Directory Id="DriversFolder" Name="drivers">
                  <Directory Id="MasslessFolder" Name="massless">
                    <?include $(sys.CURRENTDIR)openvrdriver_directories.wxi ?>
                  </Directory>
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      <Component Id ="UsageMetricsAgreementRegKey" Guid="2A29F4BD-E4F5-4018-9E17-60AF918382F7" Win64="yes">
        <Condition>USAGE_STATS_AGREED</Condition>
        <RegistryKey Root="HKLM" Key="SOFTWARE\Massless" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="no">
          <RegistryValue Type="string" Name="UsageStats" Value="true" Action="write" KeyPath="yes"/>
        </RegistryKey>
      </Component>
    </Directory>

    <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of Massless OpenVR Driver is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="Complete" Title ="Massless OpenVR Driver Installation" Display="expand" Level="1">
      <Feature Id="OpenVRDriver" Title="Massless OpenVR Driver" Level="1" TypicalDefault="install">
        <?include $(sys.CURRENTDIR)\openvrdriver_features.wxi ?>
        <ComponentRef Id="UsageMetricsAgreementRegKey"/>
      </Feature>
    </Feature>

    <UIRef Id="WixUI_Mondo_plus_UsageStatsAgreement" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <WixVariable Id="WixUILicenseRtf" Value="Resources/License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="Resources/Banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Resources/Dialog.bmp" />
  </Product>
</Wix>
